<div class="container">
    <div>
        <div class="image">
            <img src="../../assets/img/Diego2.jpg" alt="no hay image">
        </div>
    </div>
    <div class="informacion">
        <h1>Diego Angulo Marzuca</h1>
        <p>Soy un programador enfocado al fron end, algun dia me gustaria ser full stack,</p>
        <p>al igual que participar en el desarrollo de algun VideoJuego (Roguelike de preferencia)</p>
        <p>Me gusta diseñar paginas web, el modelado en 3D y me gustaria aprender sobre el </p>
        <p>diseño hambiental dentro de los videojuegos</p>
    </div>

</div>
