.main-container {
    display: flex;
    flex-direction: column;
    /*background-color: black;*/
    height: 100vh; /* Establece la altura del cuerpo para cubrir la pantalla */ 

    height: 100vh; /* Establece la altura del cuerpo para cubrir la pantalla */
    background-image: url('../assets/img/background.jpg'); /* Reemplaza 'ruta/de/tu/imagen.jpg' con la ruta de tu imagen */
    background-size: cover; /* Hace que la imagen cubra todo el contenedor */
    background-position: center; /* Centra la imagen */

}
